# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
[Tt]est[Rr]esults

# nuget packages
packages
!packages/repository.config

# Mono NUnit test results
test-results

# Mono files
*.userprefs
